* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    /* justify-content: center;
    align-items: center;
    margin: auto; */
 }
.container {
    display: flex;
    /* min-height: 100vh; */
    max-width: 150vh;
    color: grey;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    align-items: center;
    margin: auto;
    /* border:brown solid 3px; */
   
}


.card {
    display: flex;
    margin: 5px;
    cursor: pointer;
    width: 280px;
    height: 420px;
    cursor: pointer;
    /* width: 25%; */
    top: 50%;
    left: 50%;
    transform: translate(0%, 0%);
    /* flex: 1; */
    /* flex-wrap: wrap; */
    
}
  
  .card:hover .front {
    transform: perspective(600px) rotateY(-180deg);
  }
  
  .card:hover .back {
    transform: perspective(600px) rotateY(0);
  }
  
  .front,
  .back {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transition: transform 0.5s ease;
    border-radius: 10px;
    background: linear-gradient(#D6D6D6, #F2F2F2);
  }
  
  .front {
    transform: perspective(600px) rotateY(0);
  }
  
  .front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 7px;
    /* object-position: 62.971% 15%; */
  }
  .position-d {
    object-position: 38.971% 15%;
  }
  .position-b {
    object-position: 20.971% 15%;
  }
  .position-a {
    object-position: 62.971% 15%;;
  }
  .back {
    transform: perspective(600px) rotateY(180deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }





h2 {
    font-family: 'Kanit', sans-serif;
    font-size: 24px;
    background-color: black;
    color: rgba(255, 255, 0, 0.993);
    border: 1px solid black;
    border-radius: 7px;
    padding: 3px;
    
}
p {
    margin: 25px;
}

a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    margin: 5px 0;
    padding: 3px;
    border: 1px solid black;
    border-radius: 7px;
}



